.idea/
.vscode/

/config/*

!/config/games/
/config/games/*
!/config/games/*.example.*
!/config/games/.gitkeep

!/config/games.examples/

!/config/runners/
/config/runners/*
!/config/runners/*.example.*
!/config/runners/umu-cachyos.conf
!/config/runners/umu-dwproton.conf
!/config/runners/umu-proton-ge.conf

/scripts/*
!/scripts/_Lib.sh
!/scripts/Arknights.sh
!/scripts/Endfield.sh
!/scripts/Honkai3.sh
!/scripts/StarRail.sh
!/scripts/WutheringWaves.sh
!/scripts/YuanShen.sh
!/scripts/ZenlessZoneZero.sh

/tools/*
!/tools/*/
/tools/*/*

!/tools/nvidia-env.sh

!/tools/fpsunlock/unlocker.c
!/tools/xwin-watch/*.c
!/tools/xwin-watch/*.h
!/tools/xwin-watch/protocols/
!/tools/xwin-watch/generated/
!/tools/starrail-fps.py
