.idea/
.vscode/

/config/games/*
!/config/games/*.example.*
!/config/games/.gitkeep

/config/runners/*
!/config/runners/*.example.*
!/config/runners/proton-system.conf
!/config/runners/umu-run.conf
!/config/runners/umu-cachyos.conf
!/config/runners/umu-dwproton.conf

/scripts/*
!/scripts/_Lib.sh
!/scripts/Arknights.sh
!/scripts/Endfield.sh
!/scripts/Honkai3.sh
!/scripts/StarRail.sh
!/scripts/WutheringWaves.sh
!/scripts/YuanShen.sh
!/scripts/ZenlessZoneZero.sh

/tools/*
!/tools/*/
/tools/*/*

!/tools/nvidia-env.sh

!/tools/fpsunlock/unlocker.c
!/tools/xwin-watch/xwin-watch.c
!/tools/starrail-fps.py
